/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* Customização Redmine */
#top-menu {background: #531775; color: #f8f8f8; height:2.5em; font-size: 0.8em; padding: 2px 10px 0px 12px;}
#top-menu a{ padding: 10px, 0px, opx, opx;}
#header {min-height:5.3em;margin:0;background-color:#70369E; color:#f8f8f8; padding: 4px 16px 20px 16px; position:relative;}


.progress, progress-stacked, .progress-20 {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    /* display: flex; */
    height: var(--bs-progress-height);
    /* overflow: hidden; */
    font-size: var(--bs-progress-font-size);
    /* background-color: var(--bs-progress-bg); */
    /* border-radius: var(--bs-progress-border-radius); */
}
.contextual, h2 {
    white-space: nowrap;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    margin: 5px 0px;
    padding-left: 10px;
    font-size: 13px;
}

.note-header, h4 {
    font-size: 17px;
}

.contextual, h4 {
    white-space: nowrap;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    margin: 5px 0px;
    padding-left: 10px;
    font-size: 11px;
}


.badge badge-status-open {
    color: #000000;

}


#sidebar {
    background: #e3ccf0;
    
}

div.subject h3 {
    margin: 0;
    margin-bottom: 0.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

p.percent {
    font-size: 100%;
    margin: 0;
    font-weight: 700;
}

.progress, .progress-stacked {
    font-size: 14px;
    background-color: #FDF7FF;
    border-radius: 13px;
}



div.issue {
    background: #FBEAFF;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #bdbf90;
    border-radius: 15px;
}

.inline-flex {
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.card-detalhes {
    min-height: 80px;  
}

.footer-mulheres {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-mulheres-links {
  display: flex;
  align-items: center;
}
.footer-mulheres-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-mulheres-links a:hover {
  opacity: 1;
}
.footer-mulheres .fa-heart {
  color: #D23333;
}

#footer {
  visibility: hidden;
}


.accordion-button-monitoramento {
      border-top-left-radius: calc(0.375rem - 1px);
      border-top-right-radius: calc(0.375rem - 1px);
      background-color: #531775;
}


.box-detalhes{
    min-height: 80px;  
}

.buttonMonitoramento {
    height: auto;
    min-height: 80px;
    background-color: #531775;
    
}

.buttonObjetivo {
    height: auto;
    min-height: 80px;
}


accordion-header {
    margin-bottom: 0;
    background-color: #531775;
}



#header h1 {
	font-size: 28px;
	padding: 20px;
}

.accordion-button:not(.collapsed) {
    
    background-color: #e3ccf0;
      
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
    background-color: #e3ccf0;

}

#quick-search #q {
    width: 130px;
    height: 25px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 3px;
}


#quick-search {
    float: right;
    padding-top: 28px;
}

.navbar-brand {
  padding-top: 0.32422rem;
  padding-bottom: 0.32422rem;
  margin-right: 1rem;
  font-size: 2.17188rem;
  white-space: nowrap;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
  font-size: 3.17188rem;
}

.col-8 {
  flex: 0 0 auto;
  background-color: #F8F9FA;
}
	

a, a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

.cticardselecionado {
  background-color: #531775 !important; }

.cticardnaoselecionado {
  background-color: #e3ccf0 !important; }

.btn-info {
  color: #000;
  background-color: #531775;
  border-color: #531775; 
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%; 
    background-color: #e8dce9; 
}

.nav-pills .nav-link {
  background: #531175;
  border: 0;
  border-radius: 0.375rem; 
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #531175; 
}
