/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* Customização Redmine */
#top-menu {background: #531775; color: #f8f8f8; height:2.5em; font-size: 0.8em; padding: 2px 10px 0px 12px;}
#top-menu a{ padding: 10px, 0px, opx, opx;}
#header {min-height:5.3em;margin:0;background-color:#70369E; color:#f8f8f8; padding: 4px 16px 20px 16px; position:relative;}

#header h1 {
	font-size: 28px;
	padding: 20px;
}

h3 {
	padding: 25px;
	color: 000000;
	font-size: 20px;
}

a, a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

.cticardselecionado {
  background-color: #531775 !important; }

.cticardnaoselecionado {
  background-color: #cf7aff !important; }

.btn-info {
  color: #000;
  background-color: #531775;
  border-color: #531775; 
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%; 
    background-color: #e8dce9;
    border-radius: 22px 22px 22px 22px;
    margin-left: 5px;
    
	}

.nav-pills .nav-link {
  background: #531175;
  border: 0;
  border-radius: 0.375rem; 
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #531175; 
}

---------------------------
button[name="drop"]{
        border: none;
        cursor: pointer;
        background-color: #FF7F40;
        padding: 20px;
	height: 35px;
        font-size: 15px;
        color: white;
      }
      .menu-drop{
        display: inline-block;
        position: relative;
      }
      .drop-content{
        display: none;
        background-color: #531775;
        position: absolute;
        z-index: 1;
      }
      .drop-content a{
        color: white;
        padding: 8px 10px;
        text-decoration: none;
        display: block;
      }
      .drop-content a:hover{
        background-color: #C9936F;
      }
      .menu-drop:hover .drop-content{
        display: block;
      }
      .menu-drop:hover button[name="drop"]{
        background-color: #E2703D
      }

