/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* Customização Redmine */
#top-menu {background: #441868; color: #f8f8f8; height:1.8em; font-size: 0.8em; padding: 2px 10px 0px 12px;}
#header {min-height:5.3em;margin:0;background-color:#70369E; color:#f8f8f8; padding: 4px 16px 20px 16px; position:relative;}

.cti-card-selecionado {
  background-color: #531775 !important; }

.cti-card-nao-selecionado {
  background-color: #cf7aff !important; }


